# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json

# Binaries
*.exe
*.dll
cilium
terraform

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS files
.DS_Store
Thumbs.db